<div [className]="'my-16 flex flex-col'">
	<div [className]="'grid grid-cols-6'">
		<button [className]="'drop-shadow bg-blue-500 hover:bg-blue-600 text-white py-2 col-span-2 m-4 text-xl'"
			(click)="handleAddSummoner()">
			Add Summoner
		</button>
		<button
			[className]="'drop-shadow bg-green-500 hover:bg-green-600 text-white py-2 col-span-4 text-xl m-4 text-center'"
			(click)="handleSubmit()">

			<img *ngIf="submitted" src="../assets/check-mark.svg"
				[className]="'fill-white h-6 w-6 left-1/2 absolute bottom-1/4'">

			<div *ngIf="!submitted">Apply Changes</div>

		</button>
	</div>
	<div *ngFor="let summoner of summoners; let i=index">
		<app-summoner-row [summoner]="summoner" [index]="i"></app-summoner-row>
	</div>
</div>